# Clean MenuItem Table

In [74]:
import pandas as pd

In [75]:
menuitem_df = pd.read_feather("../Data Files/MenuItem.feather")

In [76]:
print(menuitem_df.shape)

(1332726, 9)

In [77]:
# Need to use the cleaned data from Dish table since MenuItem references Dish
dish_df = pd.read_feather("../Cleaned Data Files/Dish-cleaned.feather")

In [78]:
# Get rid of rows where MenuItem(dish_id) does not exist in the cleaned Dish(id)
valid_dish_ids = set(dish_df['id'])
menuitem_df_cleaned = menuitem_df[menuitem_df['dish_id'].isin(valid_dish_ids)]

menuitem_df_cleaned.head(5)

,id,menu_page_id,price,high_price,dish_id,created_at,updated_at,xpos,ypos
0,1,1389,0.4,NaN,1.0,2011-03-28 15:00:44 UTC,2011-04-19 04:33:15 UTC,0.111429,0.254735
1,2,1389,0.6,NaN,2.0,2011-03-28 15:01:13 UTC,2011-04-19 15:00:54 UTC,0.438571,0.254735
2,3,1389,0.4,NaN,3.0,2011-03-28 15:01:40 UTC,2011-04-19 19:10:05 UTC,0.140000,0.261922
3,4,1389,0.5,NaN,4.0,2011-03-28 15:01:51 UTC,2011-04-19 19:07:01 UTC,0.377143,0.262720
4,5,3079,0.5,1.0,5.0,2011-03-28 15:21:26 UTC,2011-04-13 15:25:27 UTC,0.105714,0.313178

In [79]:
print(menuitem_df_cleaned.shape)

(1148369, 9)

In [80]:
# Need to use the cleaned data from MenuPage table since MenuItem references MenuPage
menupage_df = pd.read_feather("../Cleaned Data Files/MenuPage-cleaned.feather")

In [81]:
# Get rid of rows where MenuItem(menu_page_id) does not exist in the cleaned MenuPage(id)
valid_menupage_ids = set(menupage_df['id'])
menuitem_df_cleaned_2 = menuitem_df_cleaned[menuitem_df_cleaned['menu_page_id'].isin(valid_menupage_ids)]

menuitem_df_cleaned_2.head(5)

,id,menu_page_id,price,high_price,dish_id,created_at,updated_at,xpos,ypos
0,1,1389,0.4,NaN,1.0,2011-03-28 15:00:44 UTC,2011-04-19 04:33:15 UTC,0.111429,0.254735
1,2,1389,0.6,NaN,2.0,2011-03-28 15:01:13 UTC,2011-04-19 15:00:54 UTC,0.438571,0.254735
2,3,1389,0.4,NaN,3.0,2011-03-28 15:01:40 UTC,2011-04-19 19:10:05 UTC,0.140000,0.261922
3,4,1389,0.5,NaN,4.0,2011-03-28 15:01:51 UTC,2011-04-19 19:07:01 UTC,0.377143,0.262720
4,5,3079,0.5,1.0,5.0,2011-03-28 15:21:26 UTC,2011-04-13 15:25:27 UTC,0.105714,0.313178

In [82]:
print(menuitem_df_cleaned_2.shape)

(983135, 9)

In [83]:
menuitem_df_cleaned_3 = menuitem_df_cleaned_2.drop(columns=['price', 'high_price'])

In [84]:
print(menuitem_df_cleaned_3.shape)

(983135, 7)

In [85]:
menuitem_df_cleaned_3.to_csv('../Cleaned Data Files/MenuItem-cleaned.csv', index=False)