In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
dish_df = pd.read_csv('../Cleaned Data Files/Dish-cleaned.csv')
menu_df = pd.read_csv('../Cleaned Data Files/Menu-cleaned.csv')

Dish Table Validation

1. Description table should be removed.

In [3]:
dish_df.columns == 'Description'

array([False, False, False, False, False, False, False, False])

2. Lowest_price and Highest_price columns each have ~6.87% missing values.

In [4]:
dish_df['lowest_price'].isnull().sum()

0

In [5]:
dish_df['lowest_price'].isna().sum()

0

In [6]:
dish_df['highest_price'].isna().sum()

0

In [7]:
dish_df['highest_price'].isna().sum()

0

3. Menus_appeared and Times_appeared columns have numerous outliers

In [8]:
dish_df.loc[dish_df['menus_appeared'] > 1000, 'name']

52                  "Oranges"
66            Potatoes Mashed
76                  Ice Cream
77                        Tea
78                       Milk
89              STEWED PRUNES
92                     Apples
94            Stewed Tomatoes
175           *Assorted Cakes
179             Lobster salad
180              Potato salad
181             Chicken Salad
183           Boiled Potatoes
195                 Chocolate
196                ROAST BEEF
232                     Cocoa
317                Green Peas
669         Potatoes -- Baked
771            *Lettuce salad
864                   *Olives
942     French Fried Potatoes
967          Roquefort Cheese
969           AMERICAN CHEESE
982                 ROQUEFORT
987                 Camembert
1213              *Lima Beans
1344                Cucumbers
1857             Swiss Cheese
1908                Apple Pie
3092        Vanilla Ice Cream
3639      Chocolate Ice Cream
4357              Edam Cheese
6155                   Cigars
Name: name, dtype: object

In [9]:
dish_df.loc[dish_df['times_appeared'] > 1000, 'name']

52                    "Oranges"
66              Potatoes Mashed
76                    Ice Cream
77                          Tea
78                         Milk
89                STEWED PRUNES
92                       Apples
94              Stewed Tomatoes
124           Little Neck Clams
175             *Assorted Cakes
179               Lobster salad
180                Potato salad
181               Chicken Salad
183             Boiled Potatoes
195                   Chocolate
196                  ROAST BEEF
232                       Cocoa
317                  Green Peas
362                Cream Cheese
669           Potatoes -- Baked
771              *Lettuce salad
864                     *Olives
942       French Fried Potatoes
967            Roquefort Cheese
969             AMERICAN CHEESE
982                   ROQUEFORT
987                   Camembert
1213                *Lima Beans
1227                    Spinach
1344                  Cucumbers
1857               Swiss Cheese
1908                  Apple Pie
2999                Demi  tasse
3092          Vanilla Ice Cream
3639        Chocolate Ice Cream
4357                Edam Cheese
6155                     Cigars
102251            *Tomato juice
Name: name, dtype: object

4. First_appeared and Last_appeared columns have some outliers that are invalid years.

In [10]:
dish_df['first_appeared'].min(), dish_df['first_appeared'].max()

('1851-01-01', '2012-01-01')

In [11]:
dish_df['last_appeared'].min(), dish_df['last_appeared'].max()

('1851-01-01', '2012-01-01')

5. First_appeared and Last_appeared columns are recognized as integers in DataGrip, text in OpenRefine, and int64 in Pandas.

In [12]:
dish_df['first_appeared'].head(1)

0    1897-01-01
Name: first_appeared, dtype: object

In [13]:
dish_df['last_appeared'].head(1)

0    1927-01-01
Name: last_appeared, dtype: object

In [14]:
dish_df.dtypes

id                  int64
name               object
menus_appeared      int64
times_appeared      int64
first_appeared     object
last_appeared      object
lowest_price      float64
highest_price     float64
dtype: object

6. Lowest_price and Highest_price columns have unusually low price quartiles and some outliers.

In [16]:
dish_df['lowest_price'].min(), dish_df['lowest_price'].max()

(0.0, 800.0)

In [17]:
dish_df['highest_price'].min(), dish_df['highest_price'].max()

(0.0, 3050.0)

In [21]:
dish_df.loc[dish_df['lowest_price'] == 0].shape[0], dish_df.loc[dish_df['highest_price'] == 0].shape[0]

(171794, 167401)

Menu Table Validation

1. Keywords, Language, and Location_type columns should be removed.

In [25]:
'keywords' in menu_df.columns, 'language' in menu_df.columns, 'location_type' in menu_df.columns

(False, False, False)

2. Name, Sponsor, Event, Venue, Place, Physical_Description, Occasion, Notes, Call_Number, Date, Currency, and Currency_Symbol each have ~3.34% to ~81.78% of missing values.

In [28]:
missing_percentage = (menu_df.isnull().sum() / len(menu_df)) * 100
missing_percentage.name = 'Percentage of Missing Values'
missing_percentage

id                       0.000000
name                    79.254352
sponsor                  0.000000
event                   48.616524
venue                   50.500130
place                   50.350740
physical_description     7.859184
occasion                75.480644
notes                   34.612886
call_number              0.006495
date                     0.000000
location                 0.000000
status                   0.000000
page_count               0.000000
dish_count               0.000000
Name: Percentage of Missing Values, dtype: float64

In [26]:
menu_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15396 entries, 0 to 15395
Data columns (total 15 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   id                    15396 non-null  int64
 1   name                  3194 non-null   object
 2   sponsor               15396 non-null  object
 3   event                 7911 non-null   object
 4   venue                 7621 non-null   object
 5   place                 7644 non-null   object
 6   physical_description  14186 non-null  object
 7   occasion              3775 non-null   object
 8   notes                 10067 non-null  object
 9   call_number           15395 non-null  object
 10  date                  15396 non-null  object
 11  location              15396 non-null  object
 12  status                15396 non-null  object
 13  page_count            15396 non-null  int64
 14  dish_count            15396 non-null  int64
dtypes: int64(3), object(12)
memory usage: 1.8+ MB